{{#with (formatHours this "Monday" "TimeFormatShort" "DateFormatLong") }}
{{#each this.regularHours}}
<div class="{{this.displayDay}} time-row currentDay" data-day="{{this.displayDay}}">
    <div class="day">{{this.displayDay}}</div>
    <div class="store-time-main">
        {{#if this.isClosed}}<div class="store-time !justify-start">
            <div class="close-hrs">Closed</div>
        </div>{{/if}}
        {{#if this.is247}}Open 24/7{{/if}}

        {{#each this.openIntervals}}

        <div class="store-time">
            <span class="open-hrs">{{this.start}} </span>
            <span class="saprate"> - </span>
            <span class="close-hrs">{{this.end}} </span>
        </div>
        {{/each}}
    </div>
</div>
{{/each}}
{{/with}}

<script>
    function hoursConvertDays(days) {
        const currentDate = new Date();
        const dayNumber = currentDate.getDay();
        const currentSelectedDay = days[dayNumber];
        const beforeSelected = days.slice(0, dayNumber);
        const afterSelected = days.slice(dayNumber, days.length);
        beforeSelected.forEach((element) => {
            afterSelected.push(element);
        });
        return {
            afterSelected: afterSelected
        };
    }

    var days_string = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

    

    $('#hours1-div .time-row').each(function () {

        var day = $(this).attr('data-day');
        var timeStart = $(this).attr('data-start');
        var timeEnd = $(this).attr('data-end');

        var today = new Date();
        var dayName = days_string[today.getDay()];
        if (day) {
            if (dayName == day) {
                $(this).addClass('currentDay');
                $(this).clone().prependTo("#hours1-div");
                $(this).remove();
            }
        } else {

            if (dayName == day) {
                $(this).addClass('currentDay');
                $(this).clone().prependTo("#hours1-div");
                $(this).remove();
            }

        }
     
       
    });


    let curr = new Date(); 
	let week = [];
	let current_date  = curr.getDate();
	for (let i = 0; i <= 6; i++) {
	  let first =  current_date + i ; 
	  let daydate = new Date(curr.setDate(first)).toISOString().slice(0, 10);
	  week.push(daydate);
	}
	
	// console.log(week);
		
	var dates = week;   
    const convertedDays = hoursConvertDays(days_string);
    const days = convertedDays.afterSelected;


    let day_html = '';
    for (let i = 0; i < days.length; i++) {
        let currentDay = '';
        if (i == 0) {
            currentDay = 'currentDay';
        }

        var day_date  = dates[i];    

        day_html += '<div data-date="'+day_date+'" class="time-row  ' + currentDay + ' '+day_date+' " >'
        day_html += $('#hours1-div').find('.' + days[i]).html();
        day_html += '</div>';
    }
    
    $('#hours1-div').html(day_html);
    

</script>




