<div class="location-bx px-2.5 mb-5">
    <div class="near-location">
        <h4 class="name mb-2.5 font-bold linkonstatePage"><a data-yext-analytics="getStoreDetailPage" class="transition-all duration-300 hover:text-blue"
                href="{{global.baseUrl}}{{#if locationDetail.slug}}{{locationDetail.slug}}{{else}}{{locationDetail.id}}-{{replace locationDetail.name " " "-"}}{{/if}}">{{locationDetail.name}}</a>
        </h4>
        <div>
            <div class="store-address">
                <svg xmlns="http://www.w3.org/2000/svg" width="19.23" height="28" viewBox="0 0 21.23 30">
                    <g transform="translate(0 0)">
                        <path
                            d="M6.789,23.576c1.079,1.719,2.246,3.8,3.4,5.825.427.747.813.859,1.326-.027,1.113-1.931,2.207-3.931,3.359-5.8,3.5-5.661,9.223-11.181,4.67-18.8C15.5-1.987,4.5-1.265,1.216,5.034c-3.769,7.219,2.117,13.039,5.574,18.542Z"
                            fill="#fff" fill-rule="evenodd" />
                        <path d="M10.61,6.247a4.116,4.116,0,1,1-4.116,4.116A4.117,4.117,0,0,1,10.61,6.247Z" fill="#337DC6" fill-rule="evenodd" />
                    </g>
                </svg>
                {{#if (and address.line1 address.line2)}}
                <div class="">
                    <p>{{{address.line1}}}</p>
                    <p>{{{address.line2}}}</p>
                    <p><span>{{{address.city}}}</span> <span>{{{address.postalCode}}}</span></p>
                </div>
                {{else}}
                <div class="">
                    <p>{{{address.line1}}}</p>
                    <p>{{{address.city}}}</p>
                    <p>{{{address.postalCode}}}</p>
                </div>
                {{/if}}
            </div>
            {{#if mainPhone}}
            <div class="store-phone">
                <svg xmlns="http://www.w3.org/2000/svg" width="15.35" height="23.96"
                    viewBox="0 0 14.35 22.96">
                    <path id="Icon_awesome-mobile-alt" data-name="Icon awesome-mobile-alt"
                        d="M12.2,0H2.152A2.153,2.153,0,0,0,0,2.152V20.807A2.153,2.153,0,0,0,2.152,22.96H12.2a2.153,2.153,0,0,0,2.152-2.153V2.152A2.153,2.153,0,0,0,12.2,0ZM7.175,21.525A1.435,1.435,0,1,1,8.61,20.09,1.433,1.433,0,0,1,7.175,21.525ZM12.2,16.682a.54.54,0,0,1-.538.538H2.691a.54.54,0,0,1-.538-.538V2.691a.54.54,0,0,1,.538-.538h8.969a.54.54,0,0,1,.538.538Z"
                        fill="#fff" />
                </svg>
                <p><a href="tel:{{mainPhone}}" data-ya-track="phone">{{mainPhone}}</a></p>
                {{!-- <p><a href="{{phoneNumber address.countrtCode mainPhone "RFC3966"}}" data-ya-track="phone">{{phoneNumber address.countrtCode mainPhone "INTERNATIONAL"}}</a></p> --}}
            </div>
            {{/if}}
            <div class="store-link">
                <a class="direction get-direction-url" href="javascript:void(0);"
                    data-placeid="{{googlePlaceId}}"
                    data-latitude="{{yextDisplayCoordinate.latitude}}"
                    data-longitude="{{yextDisplayCoordinate.longitude}}"
                    data-addressline1="{{address.line1}}"
                    data-addressline2="{{address.line2}}"
                    data-city="{{address.city}}"
                    data-state="{{address.region}}"
                    data-postalcode="{{address.postalCode}}"
                    data-country="{{address.countryCode}}"
                    data-ya-track="directions"> Get Directions <svg xmlns="http://www.w3.org/2000/svg" width="16.843" height="11.547" viewBox="0 0 13.843 9.547"><path id="Icon_ionic-md-arrow-forward" data-name="Icon ionic-md-arrow-forward" d="M-.023,11.347H11.523L8.181,14.688l.865.835L13.82,10.75,9.046,5.977l-.835.835,3.312,3.342H-.023Z" transform="translate(0.023 -5.977)" /></svg>
                </a>
            </div>
        </div>
    </div>
</div>